---

- name: set gpg key
  apt_key:
    url: "https://packages.microsoft.com/keys/microsoft.asc"
    state: present

- name: add repository
  apt_repository:
    repo: 'deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main'
    filename: microsoft.powershell
    state: present
    update_cache: yes

- name: install vscode
  apt:
    name: code
    update_cache: true
