- name: set microsoft repo
  yum_repository:
    name: code
    description: vscode
    file: vscode
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
    baseurl: https://packages.microsoft.com/yumrepos/vscode

- name: install vscode
  yum:
    name: code
    state: present
    update_cache: yes
  when:
    - ansible_pkg_mgr == "yum"
    - vscode_install

- name: install vscode
  dnf:
    name: code
    state: present
  when:
    - ansible_pkg_mgr == "dnf"
    - vscode_install

#- name: install vscode insiders build
#  yum:
#    name: code-insiders
#    state: present
#    update_cache: yes
#  when:
#    - ansible_pkg_mgr == "yum"
#    - vscode_insiders_install

#- name: install vscode insiders build
#  dnf:
#    name: code-insiders
#    state: present
#  when:
#    - ansible_pkg_mgr == "dnf"
#    - vscode_insiders_install

- debug:
    msg: "Microsoft doesn't support insider builds from the vs code repository. Let your voice be heard at https://github.com/Microsoft/vscode/issues/26307"
  when: 
    - vscode_insiders_install